In [1]:
from time import sleep
import requests

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### План получения данных пользователей vk
- Получение данные пользователей - друзей в vk
    - Оставить только друзей, кто не удален и не забанен
    - По каждому из активных друзей 
        - Сохранить общую информацию о пользователе
            - Название города (city.title)
            - Идентификатор факультета (faculty)
            - Идентификатор университета (university)
            - Год окончания университета (graduation)
            - Кол-во подписчиков у пользователя (followers_count)
            - Пол пользователя (sex) - является целевой переменной (1 - женский пол, 2 - мужской пол)
        - Сохранить все сообщения на стене, авторами которых они являются

### ! Delete before commiting !

In [1]:
url = 'https://api.vk.com/method/{}'
access_token = ''
version = '5.78'

payload = {'v': version, 'access_token': access_token}
payload

{'v': '5.78', 'access_token': ''}

## Get users' data from VK

### Get users

In [6]:
res = requests.get(url.format('friends.get'), params=payload)
users_count = res.json()['response']['count']
users_id = res.json()['response']['items']
users_count, users_id[:10]

(243, [4813, 24499, 34498, 42559, 47788, 59524, 65555, 171140, 187179, 191404])

In [7]:
users_payload = payload.copy()
users_payload['user_ids'] = ','.join([str(user_id) for user_id in users_id])
users_payload

res = requests.get(url.format('users.get'), params=users_payload)

users_df = pd.io.json.json_normalize(res.json()['response'])
active_users_df = users_df.loc[users_df['deactivated'].isnull()]
active_users_id = active_users_df['id'].tolist()
len(active_users_id), active_users_id[:10]

(234, [4813, 24499, 34498, 42559, 47788, 59524, 65555, 171140, 187179, 191404])

### Filter active users

In [9]:
active_users_payload = payload.copy()
active_users_payload['user_ids'] = ','.join([str(user_id) for user_id in active_users_id])
active_users_payload['fields'] = 'city,education,followers_count,sex'

res = requests.get(url.format('users.get'), params=active_users_payload)
active_users_df = pd.io.json.json_normalize(res.json()['response'])
active_users_df.head()

,city.id,city.title,education_form,education_status,faculty,faculty_name,first_name,followers_count,graduation,id,last_name,sex,university,university_name
0,1.0,Москва,Очное отделение,Студент (специалист),1124.0,Институт управления и информационных технологи...,Павел,277,2010.0,4813,Калугин,2,263.0,РУТ (МИИТ) (бывш. МГУПС Императора Николая II)
1,1.0,Москва,Очное отделение,NaN,2610.0,Факультет психологии,Натали,147,0.0,24499,Красовская,1,1276.0,МГОУ (бывш. МОПИ им. Н. К. Крупской)
2,53.0,Жуковский,Очное отделение,Студентка (специалист),356.0,Финансовый,Татьяна,390,2010.0,34498,Корнилова,1,87.0,Финансовый университет (бывш. ГУМФ)
3,1.0,Москва,Очное отделение,Студент (магистр),477.0,Международный институт экономики и финансов\r\n,Евгений,110,2010.0,42559,Кошелев,2,128.0,НИУ ВШЭ (ГУ-ВШЭ)
4,3910.0,Звенигород,Очное отделение,NaN,32.0,Механико-математический факультет,Александр,91,2004.0,47788,Соболев,2,2.0,МГУ

In [10]:
active_users_df.to_json('./data/active_users.json', orient='records')

In [12]:
active_users_df.shape

(234, 14)

In [13]:
active_users_df['sex'].value_counts()

2    121
1    113
Name: sex, dtype: int64

### Get all active users' posts

In [16]:
import logging
from imp import reload
reload(logging)

logger = logging.getLogger('vk_gather')
logger.handlers = []

fh = logging.FileHandler('./logs/vk_gather.log', mode='w')
logger.addHandler(fh)
logger.setLevel(logging.INFO)
    
logger.handlers

In [17]:
wall_payload = payload.copy()
wall_count = 100
wall_payload['count'] = wall_count
wall_payload['filter'] = 'owner'

all_texts_df = DataFrame(columns = ['user_id', 'text'])

users_count = 0
posts_count = 0

logger.info('Total active users count: {}'.format(len(active_users_id)))

for user_id in active_users_id:
    offset = 0
    
    wall_payload['offset'] = offset
    wall_payload['owner_id'] = user_id
    
    res = requests.get(url.format('wall.get'), params=wall_payload)
    total_wall_count = res.json()['response']['count']
    
    try:
        posts = res.json()['response']['items']
    except KeyError:
        logging.error('Error: {}'.format(res.json()['error']))
        raise
    
    logger.info('user_id: {}, # posts: {}'.format(user_id, total_wall_count))
    
    if not posts:
        continue
        
    texts = pd.io.json.json_normalize(posts)['text']
    texts_df = DataFrame({'user_id': user_id, 'text': texts})        
    all_texts_df = all_texts_df.append(texts_df, ignore_index=True)
    posts_count += len(texts)
    
    while True:
        sleep(0.5)
        offset += wall_count
        wall_payload['offset'] = offset
        
        res = requests.get(url.format('wall.get'), params=wall_payload)
        
        try:
            posts = res.json()['response']['items']
        except KeyError:
            logging.error('Error: {}'.format(res.json()['error']))
            raise
            
        if not posts:
            break
            
        texts = pd.io.json.json_normalize(posts)['text']
        texts_df = DataFrame({'user_id': user_id, 'text': texts})        
        all_texts_df = all_texts_df.append(texts_df, ignore_index=True)
        posts_count += len(texts)
        
    users_count += 1
    
    
    if (users_count % 10) == 0:
        print('Users count: {}'.format((users_count)))
        
logger.info('Total active users count with posts: {}'.format(users_count))
logger.info('Total posts count: {}'.format(posts_count))

Users count: 10
Users count: 20
Users count: 30
Users count: 40
Users count: 50
Users count: 60
Users count: 70
Users count: 80
Users count: 90
Users count: 100
Users count: 110
Users count: 120
Users count: 130
Users count: 140
Users count: 150
Users count: 160
Users count: 170
Users count: 180
Users count: 190
Users count: 200
Users count: 210
Users count: 220

In [18]:
all_texts_df.to_json('./data/all_texts.json', orient='records')

In [19]:
!wc -l ./logs/vk_gather.log
!head -1 ./logs/vk_gather.log
!tail -2 ./logs/vk_gather.log

237 ./logs/vk_gather.log
Total active users count: 234
Total active users count with posts: 225
Total posts count: 102454

In [20]:
all_texts_df.shape

(102454, 2)

### Информация о собранных данных
- Общее кол-во пользователей - 234
    - Женский пол - 121
    - Мужской пол - 113
- Общее кол-во собранных сообщений - 102454